// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.lead-search {
    padding: 1rem 0;
    width: 50%;
}

#dot_number {
    margin: 0 1rem;
}